@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;600;700&display=swap');
*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
} 
body{
    --primary-color: #f8615a;
    --text: 17, 17, 17;
    --text-light: 85, 85, 85;
    --foreground: 255, 255, 255;
    --background: #efefef;
    --dark-shade: #dadada;
    font-size: 16px;
    color: rgba(var(--text), 1);
    background: rgba(var(--foreground), 1);
}
body[data-theme='dark']{
    --text: 238, 238, 238;
    --text-light: 170, 170, 170;
    --foreground: 20, 20, 20;
    --background: #111;
    --dark-shade: #1a1a1a;
}
.transition{
    transition: all 0.6s;
}
h5{
    font-weight: 500;
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type=number] {
    -moz-appearance:textfield;
}
input:invalid{
    outline: none;
    box-shadow: none;
}
::-moz-focus-inner{
    border: none;
}
button{
    border: 1px solid rgba(var(--text), 0.2);
    border-radius: 0.2em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.06em;
    background: transparent;
    cursor: pointer;
    padding: 1em 1.5em;
    color: rgba(var(--text), 1);
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.grid-2{
    grid-template-columns: auto auto;
    gap: 1em;
}
.hide{
    opacity: 0;
    pointer-events: none;
}
.hide-completely{
    display: none !important;
}
.breakable{
    word-break: break-all;
}
.toggle{
    position: relative;
    cursor: pointer;
    z-index: 1;
    input[type='checkbox']{
        display: none;
    }
    .switch{
        overflow: hidden;
        display: inline-flex;
        flex-direction: column;
        justify-items: center;
        padding: 0.2rem;
        min-height: 1.6rem;
        max-height: 1.6rem;
        border-radius: 1rem;
        position: relative;
    }
    .circle{
        border-radius: 1rem;
        transition: transform 0.3s;
        &:first-of-type{
            margin-bottom: 0.4rem;
        }
        fill: rgba(var(--text), 0.8);
        overflow: visible;
        stroke-linecap: round;
        stroke-linejoin: round;
        height: 1.2rem;
        width: 1.2rem;
        line{
            stroke: rgba(var(--text), 0.8);
            stroke-width: 6;
        }
    }
    input:checked ~ .switch .circle{
        transform: translateY(-1.7rem);
    }
}
section{
    position: relative;
    header{
        display: flex;
        align-items: center;
        padding: 2em 0;
        #logo{
            display: inline-block;
        }
        h1{
            font-size: 1.5rem;
        }
        .border{
            height: 0.3rem;
            width: 50%;
            background: linear-gradient(to right, #8E24AA,#2962FF, #18FFFF);
        }
    }
    .dark-background{
        display: grid;
        grid-template-rows: auto 1fr;
    }
}
.padding{
   padding: 0 1.5rem;
}
.margin{
   margin: 0 1.5rem;
}
#main_logo{
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
    fill: rgba(var(--text), 1);
}
#first_section{
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}
#main_search{
    position: relative;
    display: grid;
    place-items: center;
    padding: 1rem;
    height: 100%;
    #floscout_illustration{
        margin-bottom: 1em;
        fill: none;
        height: 12rem;
        width: 12rem;
        stroke-width: 12;
        stroke-linecap: round;
        stroke-linejoin: round;
        .magni-glass-color{
            stroke: var(--primary-color);
        }
        .cube-color{
            stroke: rgba(var(--text), 1);
        }
    }
    .input{
        position: relative;
        display: grid;
        grid-template-columns: auto 1fr;
        z-index: 1;
        width: 100%;
        align-items: center;
        padding: 1rem;
        gap: 1em;
        border-radius: 0.4em;
        background: var(--background);
    }
    input{
        border: none;
        width: 100%;
        background: transparent;
        outline: none;
        font-size: 1rem;
        color: rgba(var(--text), 1);
    }
    .icon{
        height: 1.2em;
        overflow: visible;
        width: 1.5em;
        fill: none;
        stroke: rgba(var(--text), 1);
        opacity: 0.5;
        stroke-width: 6;
        line{
            stroke-width: 8;
        }
    }
}
#highlights{
    padding: 4em 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    .highlight-item{
        padding: 1.5rem;
        border-radius: 0.4rem;
        background: var(--background);
        h4{
            color: var(--primary-color);
        }   
        h1{
            font-size: 1.6em;
            letter-spacing: 0.1rem;
            margin-top: 0.4em;
            font-weight: 500;
        }
        &:first-of-type,&:nth-of-type(2){
            cursor: pointer;
        }
        &:first-of-type{
            text-transform: uppercase;
        }
        &:nth-of-type(2){
            text-transform: capitalize;
        }
    }
}
.bebas{
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    letter-spacing: 0.06em;
}
#top_transaction_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1.5em;
    padding-bottom: 2em;
    padding-top: 2em;
}
.transaction{
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 0.3em;
    background: var(--background);
    .transaction-header{
        margin-bottom: 2em;
        grid-template-columns: auto 1fr;
        h5{
            text-transform: capitalize;
        }
        h2{
            text-transform: uppercase;
            margin-top: 0.2em;
            letter-spacing: 0.06em;
        }
        .icon{
            display: flex;
            svg{
                height: 1.5em;
                width: 1.5em;
                opacity: 0.6;
                margin-left: auto;
                cursor: pointer;
                fill: rgba(var(--text), 1);
                &:hover{
                    opacity: 1;
                }
            }

        }
    } 
    h5{
        text-transform: uppercase;
        margin-bottom: 0.4em;
        opacity: 0.8;
        font-size: 0.8em;
    }  
    h4{
        cursor: pointer;
        margin-bottom: 1.5em;
        font-weight: 500;
        &:hover{
            filter: brightness(150%);
        }
    }
    h3{
        margin-top: 2em;
        text-align: right;
    }
}
#latest_transaction_section{
    background: rgba(var(--foreground), 1);
    header{
        grid-template-columns: 1fr auto;
        position: sticky;
        top: 0;
        background: inherit;
        z-index: 2;
    }
}
@media only screen and (min-width: 640px){
    .padding{
        padding: 0 6vw;
    }
    .margin{
        margin: 0 6vw;
    }
    .input{
        width: 80vw !important;
    }
    .watermark{
        font-size: 16vw !important;
        line-height: 0.6em;
    }
    section{
        header{
            h1{
                font-size: 2rem;
            }
        }
    }
}
@media only screen and (min-width: 800px){
}
@media only screen and (min-width: 1280px){
    .padding{
       padding: 0 8vw;
    }
    .margin{
       margin: 0 8vw;
    }
    #highlights{
        gap: 2rem;
        grid-template-columns: repeat(4, auto);
    }
    .input{
        width: 50vw !important;
    }
}
@media only screen and (min-width: 1920px){
    body{
        font-size: 24px;
    }
    .padding{
        padding: 0 12vw;
    }
    .margin{
        margin: 0 12vw;
    }
}
@media only screen and (min-width: 2048px){
    body{
        font-size: 24px;
    }
    .padding{
        padding: 0 24vw;
    }
    .margin{
        margin: 0 24vw;
    }
    #first_section{
        min-height: auto;
    }
}
@media only screen and (max-width: 320px){
    body{
        font-size: 14px;
    }
}
@media (hover:hover){
    button{
        transition: background-color 0.3s;
        &:hover{
            background: rgba(var(--text), 1);
            color: var(--background);
        }
    }
    #logo{
        cursor: pointer;
    }
}
